{{- $email := promptStringOnce . "email" "Email address" "jack@rosenth.al" -}}
{{- $name := promptStringOnce . "email" "Name" "Jack Rosenthal" -}}

{{- $choices := list "desktop" "laptop" "lite" -}}
{{- $profile := promptChoiceOnce . "profile" "Select profile" $choices "lite" -}}

{{- $cursorSize := promptIntOnce . "cursor_size" "Cursor size (24, 32, 36, 48)" 32 -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    profile = {{ $profile | quote }}
    cursor_size = {{ $cursorSize }}
