{{- $d := .outputs.dell -}}
{{- $i := .outputs.internal -}}
{{- $dellLogicalW := divf (float64 $d.modeW) $d.scale | int -}}
{{- $dellLogicalH := divf (float64 $d.modeH) $d.scale | int -}}
{{- $internalLogicalH := divf (float64 $i.modeH) $i.scale | int -}}
{{- $dualX := $dellLogicalW -}}
{{- $dualY := sub $dellLogicalH $internalLogicalH }}

# Laptop display only
profile {
    output "{{ $i.name }}" mode {{ $i.modeW }}x{{ $i.modeH }} scale {{ $i.scale }}
}

# Laptop + DELL P3223QE (main center, laptop bottom-right)
profile {
    output "{{ $d.name }}" mode {{ $d.modeW }}x{{ $d.modeH }} position 0,0 scale {{ $d.scale }}
    output "{{ $i.name }}" mode {{ $i.modeW }}x{{ $i.modeH }} position {{ $dualX }},{{ $dualY }} scale {{ $i.scale }}
}
